* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: auto;
}

/* Header */
.header {
  background: #191f2c;
  width: 100%;
  height: 60px; 
  z-index: 1000;
  color: white;
  padding: 15px 30px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}


.logo {
  background: black;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 30px;
  
}

.title{
    display: flex;
    flex-direction: row;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.contact-btn {
  background: black;
  padding: 10px 15px;
  border-radius: 4px;
}

/* Hero */
.hero {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #1f2636;
  padding: 30px;
  
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 28px;
}

.hero-text .blue {
  color: white
}

.hero-img img {
  background-color: rgb(22, 22, 22);
  border-radius: 50%;
  max-width: 250px;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 8px 14px;
  background: rgba(255, 255, 255, 0.737);
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 4px;
}

.btn.outline {
  background: transparent;
  border: 1px solid black;
  color: black;
}

/* Sections */
.section {
  padding: 40px 0;
  background-color: #070b12;
  padding: 40px 30px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.737);
  border-radius: 8px;
  border: 1px black;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 40px 30px;
}

.project-card {
  background: #070b12;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #1f2636;
  color: #ddd;
}

#services{
  background-color: #1f2636;
}

/* Testimonials */
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.testimonial {
  background: rgba(71, 83, 128, 0.365);
  padding: 20px;
  border: 1px solid #1f2636;
  border-radius: 8px;
}

/* Footer */
.footer {
  background: #222;
  color: white;
  padding: 30px 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.footer a {
  color: lightblue;
  text-decoration: none;
}

.copy{
 text-align: center;
 margin-top: 20px;
 color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 20px;
  }
}

@media(max-width: 768px){
    .navbar{
        display: none;
        
    }
}
